<% if !@current_user.nil? %>
  <% action_url = cats_url %>
  <% button_text = 'Log Out' %>
<% else %>
  <% action_url = new_session_url %>
  <% button_text = 'Log In' %>
<% end %>

  <form action="<%= action_url %>" method="GET">
  <input type="submit" value="<%= button_text %>">
  </form>