/* PHASE 1: Header */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #e6e6e6;
}

.header {
  background: #E60C00;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #e6e6e6;
  ;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #e6e6e6;
  ;
  border-right: 1px solid #e6e6e6;
  ;
}

.header-logo {
  border-right: 1px solid rgb(255, 255, 255);
  font-weight: 700;
}

.header-logo:hover {
  background: #400300;
}

.header-list {
  display: flex;
}

.header-list > li {
  border-left: 1px solid #e6e6e6;
  ;
}

.header-list > li:hover {
  background: #400300;
}
